# LLM Provider (Swap 'groq' for 'openai' or 'anthropic' later)
LLM_PROVIDER=groq
GROQ_API_KEY=<groq_api_key>
LLM_MODEL=groq/llama-3.1-8b-instant

# Vector DB (Qdrant)
QDRANT_URL=<qdrant_url>
QDRANT_API_KEY=<quadrant api key>
QDRANT_END_POINT=<quadrant-endpoint>


# Graph DB (Neo4j)
NEO4J_URI=neo4j+s://your_instance_id.databases.neo4j.io
NEO4J_USERNAME<user-name>
NEO4J_PASSWORD=<neo4j-pass>

# Data Sources
GITHUB_TOKEN=<github-token>
TARGET_REPO=tiangolo/fastapi